<h1>You have successfully logged in!</h1>

<nav><a href='/users/profile'><button>Profile</button></a></nav>

<div class="flex_box">
  <table>
    <thead class='flex_row'>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Email</th>
    </thead>
    <% if !@contacts.nil? %>
    <% @contacts.each do |a| %>
    <tr class='flex_row'>
      <td class='flex_item'><%= a.first_name %></td>
      <td class='flex_item'><%= a.last_name %></td>
      <td class='flex_item'><%= a.address %></td>
      <td class='flex_item'><%= a.email %></td>
      <td class='flex_item' id='flex_test'></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
