<h1>You have successfully logged in!</h1>

<nav><a href='/users/profile'><button>Profile</button></a></nav>
<div id="contacts">
</div>



<div class="flex_box">
  <table id="profile_table">
    <thead class='flex_row'>
      <th class='flex_item'>First Name</th>
      <th class='flex_item'>Last Name</th>
      <th class='flex_item'>Address</th>
      <th class='flex_item'>Email</th>
    </thead>
    <% if !@contacts.nil? %>
    <% @contacts.each do |a| %>
    <tr class='flex_row'>
      <td class='flex_item'><%= a.first_name %></td>
      <td class='flex_item'><%= a.last_name %></td>
      <td class='flex_item'><%= a.address %></td>
      <td class='flex_item'><%= a.email %></td>
      <td class='flex_item' id='flex_test'></td>
    </tr>
    <% end %>
    <% end %>
  </table>
</div>
