/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require welcome
 *= require users
 */

body {
  background-color: rgba(200,200,200,.4);
}

nav {
  background-color: rgba(100,100,100,.8);
  height: 3.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: -8px -8px 0px -8px;
}

nav a {
  padding:.5em;
  text-decoration: none;
  font-size: 1.15em;
  color: rgba(72, 68, 68,.8);
  font-family: sans-serif;
  font-weight: bold;
}

nav a:hover {
  background-color: rgba(100,100,100,1);
}

nav a:visited {
  color: rgba(72, 68, 79,.8);
}

nav a:last-of-type {
  margin-right: 1em;
}
