// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile_view {
  width: 300px;
  height: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
}

.flex_box {
  width: 100%;
  border: 1px solid black
}

#profile_table {
  width: 100%;
}

.flex_row {
  display: flex;
  justify-content: space-between;
}

.flex_item {
  flex-direction: row;
}

#flex_test {
  width: 50px;
  height: auto;
  background-color: green;
}
